body {
  margin: 0;
  padding: 0;
  font-family: 'Cutive Mono', monospace;
  background-color: #222;
  color: #eee;
}
table, th, td {
    border: 1px solid #777;
}

button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.App {
  display: flex;
}

.MemberMenu {
  width: 50%;
}

.MapView {
  text-align: center;
  margin: 0 auto;
}

.MapView table {
  margin: 0 auto;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.selected {
  border: 2px solid white;
}


@keyframes pulse {
  0% {
    stroke-width: 2;
  }
  100% {
    stroke-width: 4;
  }
}

.pulsate {
  animation: pulse 0.5s alternate infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  stroke: white;
}

.disabled {
  filter: grayscale(100%); 
}
